<%= link_to 'New Question', new_question_path %>
<h1>Listing questions</h1>

<% @questions.each do |question| %>
  <div>
    <%= link_to question.title, question %>
    <%= question.description %>
    <%= question.user.name %>
  </div>
<% end %>


<br />


