Listing answers
<br>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <!--Body content-->
      <table class="table table-striped">
        <tbody>
        <% @answers.each do |answer| %>
          <tr>
            <td>
              <div>
                <div>
                  <%= answer.description %>
                  <span style="float:right;"><%= answer.user.name %></span>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
     </table>
    </div>
  </div>
</div>

<br />

<%= render "answers/form"%>





    
